/*  phpBB3 Style Sheet
	--------------------------------------------------------------
	Style name:			PBHoG
	Based on style:		prosilver (the default phpBB 3.2.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		PayBas ( http://pbwow.com/ )
	--------------------------------------------------------------
*/


@import url("base.css?v=3.2");
@import url("common.css?v=3.2");
@import url("links.css?v=3.2");
@import url("content.css?v=3.2");
@import url("buttons.css?v=3.2");
@import url("cp.css?v=3.2");
@import url("forms.css?v=3.2");
@import url("icons.css?v=3.2");
@import url("colours.css?v=3.2");
@import url("imageset.css?v=3.2");
@import url("custom.css?v=3.2");
@import url("responsive.css?v=3.2");
@import url("extensions.css?v=3.2");

/* PBWoW Master style specific assets (overall_header {T_THEME_NAME}
   (excluded for children)
--------------------------------------------- */

body.pbhog {
	/* background-attachment: scroll !important; */
}

body.pbhog .logo {
	background: url("./images/theme/hog-logo-sm.png") no-repeat;
	background-size: 75%;
	width: 300px;
	height: 180px;
	margin: 10px 10px 40px 10px;
	display: block;
  background-position: 25px 88%;
}

body.pbhog #video-background {
	display: none;
}

body.pbhog #page-body:before {
	display: none;
}
body.pbhog #page-body {
	background-color: rgba(0,0,0,0.90);
}

@media only screen and (max-width: 999px), only screen and (max-device-width: 999px) {
	body.pbhog {
		background-image: url("./images/theme/wod-small.png");
		background-position: 0 0;
	}

	body.pbhog.topbar {
		background-position: 0 41px;
	}
}

@media screen and (max-width: 859px) {
	body.pbhog #logo {
		width: 200px;
		height: 100px;
		margin: 0 0 25px 0;
	}
}

@media screen and (max-width: 640px) {
	body.pbhog #logo {
		display: none;
	}
}

/* Tweaks
--------------------------------------------- */
.notouch.section-viewtopic .post-buttons {
	opacity: 0;
	transition: opacity .4s;
}

.notouch.section-viewtopic .post:hover .post-buttons {
	opacity: 1;
}

ul.linklist > li,
#quick-links {
	margin-right: 10px;
}

ul.linklist > li.rightside {
	margin-left: 10px;
}

ul.linklist > li a:hover {
	text-decoration: none;
}

.action-bar.compact {
	display: none;
}

input#pf_pbbnetavatar, label[for=pf_pbbnetavatar] {
	display: none;
}

.topic_poll + hr {
	display: none;
}

/* =Media queries (all >700px rules are in responsive.css)
-------------------------------------------------------------- */

@media screen and (max-width: 999px) {
	.forum-blocks li.row,
	.index-left .forum-blocks li.row {
		width: 100%;
		min-height: 60px;
	}

	.forum-blocks li.row dl {
		min-height: inherit;
	}

	.postprofile {
		background-position: 50% 0;
	}
}
