<div class="errorbox" style="display: none">
	<h3>{L_WARNING}</h3>
	<p>{ERROR_MSG}</p>
</div>

<form id="edit_form" method="post" style="width: 400px; height: 100%">
<div id="block-settings" style="border: 0; padding: 0">
	<!-- IF .options -->
	<ul>
		<li><a href="#tab-design">{L_BLOCK_DESIGN}</a></li>
	<!-- BEGIN options -->
		<!-- IF options.S_LEGEND --><li><a href="#tab-{options.S_LEGEND}">{options.LEGEND}</a></li><!-- ENDIF -->
	<!-- END options -->
	</ul>
	<!-- ENDIF -->

	<div id="tab-design">
		<fieldset>
			<dl>
				<dt><label for="block_status">{L_BLOCK_STATUS}</label></dt>
				<dd>
					<input type="radio" name="status" value="1"<!-- IF S_ACTIVE --> checked="checked"<!-- ENDIF --> id="block_status" /> {L_BLOCK_ACTIVE}&nbsp;
					<input type="radio" name="status" value="0"<!-- IF not S_ACTIVE --> checked="checked"<!-- ENDIF --> /> {L_BLOCK_INACTIVE}
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="block_type">{L_BLOCK_DISPLAY_TYPE}</label>
					<a data-action="toggle" class="block-class-actions" href="#examples"><i class="fa fa-question-circle-o fa-lg"></i></a>
				</dt>
				<dd>
					<label><input type="radio" name="type" value="0"<!-- IF not S_TYPE --> checked="checked"<!-- ENDIF --> id="block_type" /> {L_BLOCK_SHOW_ALWAYS}</label>
					<label><input type="radio" name="type" value="1"<!-- IF S_TYPE == 1 --> checked="checked"<!-- ENDIF --> /> {L_BLOCK_CHILD_ROUTES_HIDE}</label>
					<label><input type="radio" name="type" value="2"<!-- IF S_TYPE == 2 --> checked="checked"<!-- ENDIF --> /> {L_BLOCK_CHILD_ROUTES_ONLY}</label>
				</dd>
			</dl>
			<div id="examples" class="panel bg1 small" style="display: none">
				<table>
					<thead>
						<tr>
							<th width="45%"><strong>{L_PARENT_ROUTE}</strong></th>
							<th><strong>{L_CHILD_ROUTE}</strong></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{L_PARENT_ROUTE_EXPLAIN}
							</td>
							<td>
								{L_CHILD_ROUTE_EXPLAIN}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<dl>
				<dt><label for="permission">{L_BLOCK_PERMISSION}</label></dt>
				<dd>
					<select id="permission" name="permission[]" multiple="multiple" size="3">
						{S_GROUP_OPS}
					</select>
				</dd>
			</dl>
			<dl>
				<dt><label for="block_class">{L_BLOCK_CLASS}</label></dt>
				<dd>
					<div id="block_class" class="block-preview block-class-editor" contenteditable="true">{S_BLOCK_CLASS}</div>
					<div class="right-box small">
						<a data-action="undo" class="block-class-actions" href="#"><i class="fa fa-undo"></i>{L_UNDO}</a>
						<a data-action="redo" class="block-class-actions" href="#"><i class="fa fa-repeat"></i>{L_REDO}</a>
						<a data-action="clear" class="block-class-actions" href="#"><i class="fa fa-times"></i>{L_CLEAR}</a>
						<a data-action="toggle" class="block-class-actions" href="#css-class-options"><i class="fa fa-sort"></i>{L_TOGGLE}</a>
					</div>
				</dd>
			</dl>
			<div id="css-class-options" class="modifiers rules small">
				<!-- INCLUDE block_css_presets.html -->
			</div>
			<dl>
				<dt><label for="hide_title">{L_BLOCK_HIDE_TITLE}</label></dt>
				<dd>
					<input class="block-preview" type="radio" name="hide_title" value="1"<!-- IF S_HIDE_TITLE --> checked="checked"<!-- ENDIF --> id="hide_title" /> {L_YES}&nbsp;
					<input class="block-preview" type="radio" name="hide_title" value="0"<!-- IF not S_HIDE_TITLE --> checked="checked"<!-- ENDIF --> /> {L_NO}
				</dd>
			</dl>
			<!-- INCLUDE block_view_settings.html -->

	<!-- BEGIN options -->
		<!-- IF options.S_LEGEND -->
		</fieldset>
	</div>
	<div id="tab-{options.S_LEGEND}" class="block-settings">
		<fieldset>
		<!-- ELSEIF options.TITLE -->
			<dl>
				<dt><label for="{options.KEY}">{options.TITLE}</label><!-- IF options.S_EXPLAIN --><br /><span>{options.TITLE_EXPLAIN}</span><!-- ENDIF --></dt>
				<dd>{options.CONTENT}</dd>
			</dl>
		<!-- ELSE -->
			{options.CONTENT}
		<!-- ENDIF -->
	<!-- END options -->
		</fieldset>
	</div>
</div>
</form>