<!-- IF SM_SHOW_FORUM_NAV -->
	<li class="no-bulletin" data-last-responsive="true">
		<a href="{U_SM_VIEWFORUM}" title="{L_FORUM}" role="menuitem"><i class="{SM_FORUM_ICON} fa-lg"></i>{L_FORUM}</a>
	</li>
<!-- ENDIF -->
