<!-- IF S_POINTS_ENABLE --><li <!-- IF not PHPBB_IS_32 -->class="small-icon icon-points"<!-- ENDIF --> data-last-responsive="true"><a href="{U_POINTS}" title="{L_POINTS_EXPLAIN}" role="menuitem"><!-- IF PHPBB_IS_32 --><i class="icon fa fa-university" aria-hidden="true"></i><!-- ENDIF --><span>{USER_POINTS}{POINTS_LINK}</span><!-- IF S_USER_LOGGED_IN and S_USE_POINTS --><!-- ENDIF --></a></li><!-- ENDIF -->
<!-- IF S_POINTS_ENABLE and S_UPLIST_ENABLE and S_USE_POINTS --><li <!-- IF not PHPBB_IS_32 -->class="small-icon icon-members"<!-- ENDIF --> data-last-responsive="true"><a href="{U_POINTS_LIST}" title="{L_POINTS_LIST_TOTAL}" role="menuitem"><!-- IF PHPBB_IS_32 --><i class="icon fa fa-users" aria-hidden="true"></i><!-- ENDIF --><span>{L_POINTS_LIST}</span></a></li><!-- ENDIF -->
